# Crosstool-NG configuration file

# Toolchain and C library
CT_PREFIX_DIR="/Volumes/RPI-Toolchain/toolchain"
CT_LOCAL_TARBALLS_DIR="/Volumes/RPI-Toolchain"
CT_ARCH_ARCH="armv7ve"
CT_ARCH_CPU="cortex-a53"
CT_ARCH_TUNE="cortex-a53"
CT_ARCH_FPU="neon-vfpv4"
CT_TARGET_VENDOR="raspberrypi"
CT_TARGET_ALIAS="arm-linux-gnueabihf"
CT_TARGET_SYS="arm-linux-gnueabihf"
CT_TARGET_CFLAGS="-march=armv7-a -mfpu=neon-vfpv4 -mfloat-abi=hard"
CT_TARGET_LDFLAGS="-march=armv7-a -mfpu=neon-vfpv4 -mfloat-abi=hard"
CT_TARGET_KERNEL_ABI="lp32"
CT_CC_GCC_V_11_2_0=y
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=n
CT_LIB_THREADS_SINGLE=y
CT_LIB_FLOAT_HW=y
CT_LIB_CURL=y

# Paths and misc options
CT_CONFIGURE_has_xz=y
CT_LOG_TO_FILE=y
CT_LOG_FILE_COMPRESS=y
