CT_CONFIG_VERSION="4"
CT_LOCAL_TARBALLS_DIR="/Volumes/RPI-Toolchain"
CT_PREFIX_DIR="/Volumes/RPI-Toolchain/toolchain"
CT_PARALLEL_JOBS=8
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a53"
CT_ARCH_FLOAT_HW=y
CT_TARGET_VENDOR="raspberrypi"
CT_TARGET_ALIAS="arm-linux-gnueabihf"
CT_KERNEL_LINUX=y
CT_BINUTILS_V_2_31=y
CT_GLIBC_V_2_31=y
# CT_GLIBC_ENABLE_OBSOLETE_RPC is not set
# CT_LIBC_XLDD is not set
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
